div
   height: 650px

.div-titulo
  padding: 5px 12px
  text-align: center
  background-color:  #F5FFFA
  border-bottom-style: solid
  font-size: 18px
  color: darkred
  border-radius: 30px

.div-titulo-activo
  padding: 15px 32px
  text-align: center
  background-color:  #FF69B4
  border-bottom-style: solid
  font-size: 25px
  color: dark
  border-radius: 30px

button 
   color: darkred
   padding: 15px 32px
   text-align: center
   display: inline-block
   font-size: 16px
   margin: 4px 2px
   cursor: pointer
   width: 500px
   height: 50px