<div id="div-home" *ngIf=" !irEscena ">
  <br /> <br />
  <h1>TUTORIAL</h1>
  <P>Presentació d´una història </P>
  <br />
  <p><strong>Tutorial tenim una història per mostrar, la desenvolupem mitjançant dos botons (retrocedir-avançar), ens
      poden avançar o retrocedir en les explicacions de la història, modificant-se la imatge de fons i marcant al
      titular que ens trobem.</strong></p>
  <br />
  <button (click)="verEscena()">Anar a la història</button>
</div>


<div *ngIf=" irEscena ">
  <app-escena [titulo]=titulos></app-escena>
</div>
